<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
</head>
<body>
    <main class="conteinerPrincipal">
        <div class="panel-top">
        </div>
    </main>
    
    <header class="conteiner-flags">
        <div class="conteinerAcessar">
            <div class="subAcessar">
                <p class="p_acessar">Acessar</p>
            </div>                
        </div>

        <div class="conteinerCadastrar">
            <div class="subCadastrar">
                <p class="p_cadastrar">Cadastrar</p>
            </div>
        </div>
    </header>

    <header class="my-header">
        <div class="left-painel">
            <div class="opcoes">
                <div class="categorias">
                    <p class="p-categorias">Categorias</p>
                </div>
                <div class="subcategorias">
                    <p class="p-categorias">Alarme</p>
                </div>
                <div class="subcategorias">
                    <p class="p-categorias">Cercas Elétricas</p>
                </div>
                <div class="subcategorias">
                    <p class="p-categorias">Sistema de Cameras - CFTV</p>
                </div>
                <div class="subcategorias">
                    <p class="p-categorias">Telefonia</p>
                </div>
                <div class="subcategorias">
                    <p class="p-categorias">Monitoramento 24hs</p>
                </div>
                <div class="subcategorias">
                    <p class="p-categorias">Automatização</p>
                </div>
            </div>

            <div class="proposta-orcamento" id="proposta_orcamento">
                <div class="titleOrcamento">
                    Solicite seu Orçamento
                </div>
                <div class="etyNome estilo-lblOrcamento">
                    Nome(*)
                    <input class="ety" type="text" name="" id="txt-nome">
                </div>
                <div class="etyContato estilo-lblOrcamento">
                    Contato(*)
                    <input class="ety" type="tel" name="" id="txt-tel">
                </div>
                <div class="etyEmail estilo-lblOrcamento">
                    Email(*):
                    <input class="ety" type="email" name="" id="txt-email">
                </div>
                <div class="etyEndereco estilo-lblOrcamento">
                    Endereço(*):
                    <input class="ety" type="text" name="" id="txt-endereco">
                </div>
                <div class="etyDescricao estilo-lblOrcamento">
                    Descrição(*):
                    <input class="ety" type="text" name="" id="txt-descricao">
                </div>
                <div class="div-btnEnviarOrcamento">
                    <input class='btnEnviarOrcamento' type="button" value="Enviar" onclick="enviar_orcamento()" onmouseout="Sair_btn()">
                    <br>
                    <p>Não usaremos suas informações para promover Span e Envio de Mensagens.
                    </p>
                </div>
            </div>
        </div>
        <div class="higth-catalogos">
            <div class="row-0 row-estilo">
                <div class="grid-produtos">
                    <p class="produtos">row-0 Produto descrição 01</p>
                </div>
                <div class="grid-produtos">
                    <p class="produtos">row-0 Produto descrição 02</p>
                </div>
                <div class="grid-produtos">
                    <p class="produtos">row-0 Produto descrição 03</p>
                </div>
                <div class="grid-produtos">
                    <p class="produtos">row-0 Produto descrição 04</p>
                </div>
                <div class="grid-produtos">
                    <p class="produtos">row-0 Produto descrição 05</p>
                </div>
                <div class="grid-produtos">
                    <p class="produtos">row-0 Produto descrição 06</p>
                </div>
                <div class="grid-produtos">
                    <p class="produtos">row-0 Produto descrição 07</p>
                </div>
                <div class="grid-produtos">
                    <p class="produtos">row-0 Produto descrição 08</p>
                </div>
            </div>
            <!--
            <div class="row-1 row-estilo">
                <div class="grid-produtos">
                    <p class="produtos">row-1 Produto descrição 01</p>
                </div>
                <div class="grid-produtos">
                    <p class="produtos">row-1 Produto descrição 02</p>
                </div>
                <div class="grid-produtos">
                    <p class="produtos">row-1 Produto descrição 03</p>
                </div>
            </div> 

            <div class="row-2 row-estilo">
                <div class="grid-produtos">
                    <p class="produtos">row-2 Produto descrição 01</p>
                </div>
                <div class="grid-produtos">
                    <p class="produtos">row-2 Produto descrição 02</p>
                </div>
                <div class="grid-produtos">
                    <p class="produtos">row-2 Produto descrição 03</p>
                </div>
            </div> 

            <div class="row-3 row-estilo">
                <div class="grid-produtos">
                    <p class="produtos">row-3 Produto descrição 01</p>
                </div>
                <div class="grid-produtos">
                    <p class="produtos">row-3 Produto descrição 02</p>
                </div>
                <div class="grid-produtos">
                    <p class="produtos">row-3 Produto descrição 03</p>
                </div>
            </div>

            <div class="row-4 row-estilo">
                <div class="grid-produtos">
                    <p class="produtos">row-4 Produto descrição 01</p>
                </div>
                <div class="grid-produtos">
                    <p class="produtos">row-4 Produto descrição 02</p>
                </div>
                <div class="grid-produtos">
                    <p class="produtos">row-4 Produto descrição 03</p>
                </div>
            </div>

            <div class="row-5 row-estilo">
                <div class="grid-produtos">
                    <p class="produtos">row-5 Produto descrição 01</p>
                </div>
                <div class="grid-produtos">
                    <p class="produtos">row-5 Produto descrição 02</p>
                </div>
                <div class="grid-produtos">
                    <p class="produtos">row-5 Produto descrição 03</p>
                </div>
            </div>
            -->  
        </div>      
    </header>

    <footer class="panel-rodape">
        <div class="img-rodape"></div>
        <div></div>
    </footer>

    <script>
        function enviar_orcamento() {
            var btnenviarorcamento = window.document.querySelector('input.btnEnviarOrcamento')
            btnenviarorcamento.style.color = 'green'
            btnenviarorcamento.style.background = 'darkred'

            var panel_left_orcamento = window.document.getElementById('proposta_orcamento')
            var etys = panel_left_orcamento.querySelectorAll('input')
            etys[0].value = ''
            etys[1].value = ''
            etys[2].value = ''
            etys[3].value = ''
            etys[4].value = ''

        }

        function Sair_btn() {
            var btnenviarorcamento = window.document.querySelector('input.btnEnviarOrcamento')
            btnenviarorcamento.style.color = 'white'
            btnenviarorcamento.style.background = '#43b48f'
        }
    </script>
    
</body>
</html>