<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
</head>
<body onload="StatusLogado('{{ user_logado }}',ancoraEntrarOrSair,ancoraCriarConta,'{{ desvio_url }}')">
    <main class="conteinerPrincipal">
        <div class="panel-top">
        </div>
    </main>
    <header class="conteiner-flags">
        <div class="conteinerAcessar">
            <div class="subAcessar">
                <p class="p_acessar">
                    <a id="ancoraEntrarOrSair" class="nav-link p_acessar" href="{% url 'autentication:autenticar' %}">Entrar</a>
                </p>
            </div>                
        </div>

        <div class="conteinerCadastrar">
            <div class="subCadastrar">
                <p class="p_cadastrar">
                    <a id="ancoraCriarConta" class="nav-link p_acessar" href="{% url 'formcliente:caduserForm' %}">Criar Conta</a>
                </p>
            </div>
        </div>
    </header>

    <header class="my-header">
        <div class="left-painel">
            <div class="opcoes">
                <div class="categorias">
                    <p class="p-categorias">Categorias</p>
                </div>
                {% for grupo in gruposprodutos %}
                    <div class="subcategorias">
                        <a class="a-categorias" href="{% url 'appapi:req_produtos' grupo.nome grupo.id %}">{{ grupo.nome }}</a>
                    </div>
                {% endfor %}
            </div>

            <div class="proposta-orcamento" id="proposta_orcamento">
                <div class="titleOrcamento">
                    Solicite seu Orçamento
                </div>
                <div class="etyNome estilo-lblOrcamento">
                    Nome(*)
                    <input class="ety" type="text" name="" id="txt-nome">
                </div>
                <div class="etyContato estilo-lblOrcamento">
                    Contato(*)
                    <input class="ety" type="tel" name="" id="txt-tel">
                </div>
                <div class="etyEmail estilo-lblOrcamento">
                    Email(*):
                    <input class="ety" type="email" name="" id="txt-email">
                </div>
                <div class="etyEndereco estilo-lblOrcamento">
                    Endereço(*):
                    <input class="ety" type="text" name="" id="txt-endereco">
                </div>
                <div class="etyDescricao estilo-lblOrcamento">
                    Descrição(*):
                    <input class="ety" type="text" name="" id="txt-descricao">
                </div>
                <div class="div-btnEnviarOrcamento">
                    <input class='btnEnviarOrcamento' type="button" value="Enviar" onclick="enviar_orcamento()" onmouseout="Sair_btn()">
                    <br>
                        <p>Não usaremos suas informações para promover Span e Envio de Mensagens.
                    </p>
                </div>
            </div>
        </div>
        <div class="higth-catalogos">
            <div class="row-0 row-estilo">
                {% for produto in produtos_grupopadrao %}
                    <div class="divproduto">
                        <div class="div-imgproduto"><img width="300px" height="400px" src="{{ produto.img_foto.url }}" alt=""></div>
                        <div class="div-infoproduto">
                            <p class="p-infoproduto">{{ produto.tag_descricao }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div> 
        </div>      
    </header>

    <footer class="panel-rodape">
        <div class="img-rodape"></div>
        <div></div>
    </footer>

    <script src="{% static 'js/myfunc.js' %}">
        function enviar_orcamento() {
            var btnenviarorcamento = window.document.querySelector('input.btnEnviarOrcamento')
            btnenviarorcamento.style.color = 'green'
            btnenviarorcamento.style.background = 'darkred'

            var panel_left_orcamento = window.document.getElementById('proposta_orcamento')
            var etys = panel_left_orcamento.querySelectorAll('input')
            etys[0].value = ''
            etys[1].value = ''
            etys[2].value = ''
            etys[3].value = ''
            etys[4].value = ''

        }
        function Sair_btn() {
            var btnenviarorcamento = window.document.querySelector('input.btnEnviarOrcamento')
            btnenviarorcamento.style.color = 'white'
            btnenviarorcamento.style.background = '#43b48f'
        }
    </script>
    
</body>
</html>