html {
    width: 100vw;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    background-image: linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5));
    background-repeat: no-repeat;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-autenticar {
    width: 300px;
    border: 0px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    border-radius: 25px;
    padding: 20px;
}

img {
    position: absolute;
    border: 0px solid black;
    z-index: 1;
    width: 30px;
    height: 30px;
}

div.div-img {
    border: 1px solid yellow;
}

input.style-global {
    height: 32px;
    font-size: 14pt;
    border: 0px;
    width: 100%;
    position: relative;
    text-indent: 35px;
    background-color: rgba(89, 171, 247, 0.192);
    border: 0px solid black;
}

div.conteiner-fields {
    width: 100%;
    padding-top: 15px;
    border: 0px solid black;
}

input[type=submit] {
    width: 100%;
    height: 32px;
}

div.divinputs-confi-global {
    margin-bottom: 5px;
    padding-right: 2%;
    border: 0px solid black;
}

div.conteiner-btnsubmit {
    border: 0px solid black;
}

div.opcoes-form {
    height: 45px;
    border: 0px solid black;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:space-between;
}

ul {
    border: 0px solid black;
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 0%;
}
h3 {
    text-align: center;
    font-weight: 100;
    font-size: 11pt;
}

label.lblnameinputs {
    font-weight: bold;
}