<!DOCTYPE html>
{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="{% static 'cad_cliente/css/stylecad_cliente.css' %}">
    <title>Document</title>
    <style>
        .errorlist {
            font-size: 10pt;
            color: red;
            list-style-type: none;
        }
    </style>

</head>
<body>
    <section>
        <form class="form-teste" action="caduserForm" method="POST">
            {% csrf_token %}
            <!--
            {% if forms.erros %}
                {{ forms.erros }}
            {% endif %}-->
            <div class="elementos-form">
                {% for field in forms %}
                    <div class="div-inputs {{ field.label }}">
                        {{ field.label_tag }}
                        <br>
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}
            </div>
            <div class="div-btnsubmit">
                <input class="btn-submit" type="submit" value="Salvar">
            </div>
            
        </form>
    </section>
    
    <script src="{% static 'cad_cliente/js/myscript.js' %}"></script>
</body>
</html>