* {
    margin: 0%;
    padding: 0%;
}
html {
    background-image: linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5));
    background-size: cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
}
body {
    width: 100%;  
    height: 100%;
    display: flex;
    orientation: row;
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;    
}

.form-teste {
    display: flex;
    flex-direction: column;
    width: 480px;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-weight: bolder;
    font-size: 12pt;
    color: rgba(3, 74, 136, 0.774);
    margin-top: 85px;
    margin-bottom: 85px;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 10px;

    border: 0px solid black;
    border-radius: 20px;
    background-color: rgba(192, 192, 189, 0.596);
    box-shadow: 1px 2px 3px rgb(8, 8, 8);
}
.label {
    margin-bottom: 4px;
}

.div-inputs {
    display: block;
    border: 0px solid black;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.div-inputs .input-text {
    width: 450px;
    border: 0px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    text-indent: 10px;
    margin-top: 1px;
    border-radius: 10px;
}

#id_rua_ondemora {
    height: 80px;
    text-indent: 10px;
}

#id_ponto_referencia {
    height: 80px;
    text-indent: 10px;
}


/*Erro vindo dos inputs fields do formulario não pode ser estilizados aqui.*/
.errorlist {
    font-size: 6pt;
    color: red;
    list-style-type: none;
}
.div-btnsubmit {
    display: flex;
    flex-direction: row;
    border: 0px solid black;
    justify-content: center;
    position: relative;
    margin-bottom: 10px;
}

.btn-submit {
    width: 250px;
    height: 50px;
    border: 0px;
    border-radius: 0px;
}

textarea{
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-size: 12pt;
    border-radius: 10px;
    width: 350px;
    resize: none;
    overflow: auto;
    text-indent: 2%;
    padding: 1%;

}