* {
    margin: 0%;
    padding: 0%;
}
body {
    background-image: linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5));

    background-size: auto;
    box-sizing: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    orientation: row;
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;
}

section {
    width: 500px;
    height: 880px;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 0px solid black;
    border-radius: 20px;
    background-color: rgba(192, 192, 189, 0.596);
    box-shadow: 2px 2px 4px rgb(8, 8, 8);
}

.form-teste {
    display: block;
    border: 0px solid black;
    margin: 20px;
    position: relative;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-weight: bolder;
    font-size: 12pt;
    color: rgb(3, 74, 136);
}
.form-teste input {
    border-radius: 10px;
}

.label {
    height: auto;
    margin-bottom: 4px;
}

.div-inputs {
    display: block;
    border: 0px solid black;
    margin-bottom: 10px;
}

.div-inputs input {
    width: 100%;
    border: 0px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    text-indent: 10px;
    margin-top: 1px;
}

#id_rua_ondemora {
    height: 80px;
    text-indent: 10px;
}

#id_ponto_referencia {
    height: 80px;
    text-indent: 10px;
}

.btn-submit {
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    margin-left: 25%;

}