.header-editsenha {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-conteiners {
    width: 500px;
    border: 0px solid black;
}